<!DOCTYPE HTML>
<html>

<head>
    <title>simplestyle_7</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
    <link rel="stylesheet" type="text/css" href="static/style/style.css" />
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <h1>Workbench<a href="#"> Analyzer</a></h1>
                <div class="slogan"><img width=300 height=60 src="static/images/hamRado360Logo.png" alt="Ham Radio 360" /> </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="examples">Examples</a></li>
                    <li><a href="page.html">A Page</a></li>
                    <li><a href="aa-sweap">Run A Sweep</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="site_content">
            <div id="sidebar_container">
                <img class="paperclip" src="static/style/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <!-- insert your sidebar items here -->
                    <h3>Latest News</h3>
                    <h4>What's the News?</h4>
                    <h5>20th January 2016</h5>
                    <p>First cut of new Browswer base contol!<br /><a href="#">Read more</a></p>
                </div>
                <img class="paperclip" src="static/style/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <h3>Newsletter</h3>
                    <p>If you would like to receive our newletter, please enter your email address and click 'Subscribe'.</p>
                    <form method="post" action="#" id="subscribe">
                        <p style="padding: 0 0 9px 0;"><input class="search" type="text" name="email_address" value="your email address" onclick="javascript: document.forms['subscribe'].email_address.value=''" /></p>
                        <p><input class="subscribe" name="subscribe" type="submit" value="Subscribe" /></p>
                    </form>
                </div>
                <img class="paperclip" src="static/style/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <h3>Latest Blog</h3>
                    <h4>Website Goes Live</h4>
                    <h5>1st July 2011</h5>
                    <p>We have just launched our new website. Take a look around, we'd love to know what you think.....<br /><a href="#">read more</a></p>
                </div>
            </div>
            <div id="content">
                <!-- insert the page content here -->
                {%block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            <p>Copyright &copy; simplestyle_7 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
        </div>
    </div>
</body>

</html>
